
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>

  <%- include("./partials/header") %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <%- include("./partials/navbar") %>
  <%- include("./partials/sidebar") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid col-md-6 col-xs-4" style="padding-top: 5%;">
    <!-- Main content -->
    <div class="card">   
        <div class="card-body" style="text-align: center; font-family:'Courier New', Courier, monospace;">
            <table>
                <tr>
                    <td><pre><b>Current Password</b>   </pre></td>
                    <td><input type="password" id="currentpwd" size="30%" name="currentPassword"/></td>
                </tr>
                <tr>
                    <td><pre><b>New Password</b>   </pre></td>
                    <td><input type="password" id="newpwd" size="30%" name="newPassword"/></td>
                </tr>
                <tr>
                    <td><pre><b>Confirm Password</b>   </pre></td>
                    <td><input type="password" id="confirmpwd" size="30%" name="newConfirmPassword"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-primary" onclick="updatePassword()">Update</button></td>
                </tr>
            </table>
            <div role="alert" id="message"></div>
        </div>
    </div>
    <!-- /.content -->
  </div>
  </section>
  </div>

<!-- REQUIRED SCRIPTS -->

<script>
  function updatePassword() {
       
    let newPassword = document.getElementById("newpwd").value;
    let newConfirmPassword = document.getElementById("confirmpwd").value;
    console.log(newConfirmPassword,newPassword)
       if(newPassword != newConfirmPassword){
         console.log("New password and confirm password doesn't match")
         document.getElementById("message").innerText= "New password and confirm password doesn't match"
         document.getElementById("message").setAttribute("class","alert alert-danger")
         //$("#message").hide();
        //  $("#message").delay(1000).fadeOut(500);
       }
       else{

        fetch("/changePassword", {
            method: "POST",
            body: JSON.stringify({
              email: JSON.parse(sessionStorage.getItem("user")).email,
              currentPassword:document.getElementById("currentpwd").value,
              newPassword:newPassword,
             }),
            headers: {
              "Content-type": "application/json",
            },
          })
          .then((response) => response.json())
          .then(data => {
            if(data.status == "11A"){
              // alert(data.message)
              document.getElementById("message").innerText= data.message
              document.getElementById("message").setAttribute("class","alert alert-success")
            }
            else if(data.status == "11B"){
              // alert(data.message)
              document.getElementById("message").innerText= data.message
              document.getElementById("message").setAttribute("class","alert alert-danger")
            }else{
              document.getElementById("message").innerText= data.message
              document.getElementById("message").setAttribute("class","alert alert-danger")
            }

                console.log("meow",data.message)
          });
       }
      
        // if (selectPlcID == null) {

        
  }
</script>

<%- include("./partials/footer") %>
</body>
</html>
