<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard | Live Chart</title>

    <%- include("./partials/header") %>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include("./partials/navbar") %> <%- include("./partials/sidebar") %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6" id="dynamicDrop">
                <select
                  class="form-control"
                  id="dynamicOption"
                  style="display: none"
                  onchange="selectChart()"
                ></select>
                <h1 id="zoneName" style="display: block"></h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="#"><i>Home</i></a>
                  </li>
                  <li class="breadcrumb-item active">DMA LIVE CHART</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5">
                <!-- LINE CHART -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title" id="chartHead"></h3>

                    <div class="card-tools">
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="collapse"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="remove"
                      >
                        <i class="fas fa-compress"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart" id="chartDiv">
                      <!-- <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas> -->
                      <!-- <div id="myChart" style="height: 370px; width:100%;"></div> -->
                      <canvas width="450" id="myChart"></canvas>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col (LEFT) -->
              <div class="col-md-7">
                <!-- DONUT CHART -->
                <div class="card card-danger">
                  <div class="card-header">
                    <h3 class="card-title">TABULAR DATA</h3>

                    <div class="card-tools">
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="collapse"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="remove"
                      >
                        <i class="fas fa-compress"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <input
                      type="search"
                      name="search"
                      id="search"
                      placeholder="Search"
                      style="width: 99%"
                    />
                    <span
                      ><i
                        class="fas fa-search"
                        aria-hidden="true"
                        style="margin-left: -30px"
                      ></i
                    ></span>
                    <span
                      ><i
                        class="fas fa-calendar"
                        aria-hidden="true"
                        style="margin-left: -40px"
                      ></i
                    ></span>

                    <table
                      class="table table-bordered"
                      style="margin-top: 3%; font-size: 15px"
                    >
                      <thead>
                        <tr style="background-color: rgb(198, 155, 238)">
                          <th scope="col" colspan="3">Result for 08/03/2021</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">No of Consumers: 1636</th>
                          <th style="text-align: center">Volume in M</th>
                          <th style="text-align: center">%</th>
                        </tr>
                        <tr style="background-color: lightskyblue">
                          <td scope="row">Water Supplied</td>
                          <td>2000.15</td>
                          <td>100%</td>
                        </tr>
                        <tr style="background-color: lightblue">
                          <td scope="row">Average Billed</td>
                          <td>1963.2</td>
                          <td>98.15%</td>
                        </tr>
                        <tr style="background-color: rgb(241, 194, 194)">
                          <td scope="row">Un-authorised</td>
                          <td>0.00</td>
                          <td>0%</td>
                        </tr>
                        <tr style="background-color: rgb(180, 225, 253)" ;>
                          <td scope="row">Unbilled[Stand Post(SP)]</td>
                          <td>161.28</td>
                          <td>8.06%</td>
                        </tr>
                        <tr style="background-color: pink" ;>
                          <td scope="row">
                            Non Revenue Water(NPW) including SP
                          </td>
                          <td>36.95</td>
                          <td>1.85%</td>
                        </tr>
                        <tr>
                          <th scope="row" colspan="2">
                            Length of Distribution Pipe Line
                          </th>
                          <th style="text-align: center">Meter</th>
                        </tr>
                        <tr style="background-color: lightskyblue">
                          <td scope="row" colspan="2">150MM Line Size</td>
                          <td>2633</td>
                        </tr>
                        <tr style="background-color: lightblue">
                          <td scope="row" colspan="2">100MM Line Size</td>
                          <td>10701</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col (RIGHT) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Add Content Here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <script>
      let dynamicDrop = document.getElementById("dynamicDrop");
      let option = document.getElementById("dynamicOption");
      let role = JSON.parse(sessionStorage.getItem("user")).role;
      console.log(role);
      if (role == "ADMIN") {
        option.style.display = "block";
        document.getElementById("zoneName").style.display = "none";
        let sessionData = JSON.parse(
          JSON.parse(sessionStorage.getItem("user")).plcs
        );
        console.log(sessionData);
        let innerHTML = "";
        sessionData.forEach((a) => {
          innerHTML += `<option value="${a.plcId}">${a.location}</option>`;
        });
        option.innerHTML = innerHTML;
        // setInterval(() => {
        //   staticChat();
        // }, 1000);
      } else {
        document.getElementById("chartHead").innerText =
          "LIVE PIE CHART FOR " +
          JSON.parse(sessionStorage.getItem("user")).location.toUpperCase() +
          " ZONE";
        document.getElementById("zoneName").innerText =
          JSON.parse(sessionStorage.getItem("user")).location.toUpperCase() +
          " ZONE";

        // setInterval(() => {
        //   staticChat();
        // }, 1000);
      }
    </script>
    <script>
      var ctx = document.getElementById("myChart").getContext("2d");
      function selectChart() {
        var ctx = document.getElementById("myChart").getContext("2d");
        JSON.parse(JSON.parse(sessionStorage.getItem("user")).plcs).forEach(
          (a) => {
            if (a.plcId == document.getElementById("dynamicOption").value) {
              document.getElementById("chartHead").innerText =
                "LIVE PIE CHART FOR " +
                a.location.toUpperCase() +
                " ZONE";
            }
          }
        );
        async function getData() {
          let d1 = [];
          let d2 = [];
          let d3 = [];
          let plcId = {};
          // console.log(selectPlcID);
          if (JSON.parse(sessionStorage.getItem("user")).role == "ADMIN") {
            plcId = {
              plcId: document.getElementById("dynamicOption").value,
            };
            console.log(plcId);
          } else {
            plcId = {
              plcId: JSON.parse(sessionStorage.getItem("user")).plcId,
            };
          }
          console.log(plcId);
          // if (selectPlcID == null) {
          let res = await fetch("http://localhost:3000/zoneplclivedatas", {
            method: "POST",
            body: JSON.stringify(plcId),
            headers: {
              "Content-type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              return data;
            });
          res.forEach((b) => {
            d1.push(parseFloat(b.main_meter_demand_flow));
          });
          res.forEach((b) => {
            d2.push(parseFloat(b.main_meter_flow));
          });
          res.forEach((b) => {
            d3.push(parseFloat(b.esr_presure));
          });
          // console.log(d1, d2);
          return {
            d1: d1,
            d2: d2,
            d3: d3,
          };
        }

        const arr = getData().then((value) => {
          let data1 = value.d1;
          let data2 = value.d2;
          var myChart = new Chart(ctx, {
            type: "doughnut",
            data: {
              labels: ["Volume of Water", "NRW"],
              datasets: [
                {
                  data: [data1.length, data2.length], // Specify the data values array

                  borderColor: ["#2196f38c", "#f443368c"], // Add custom color border
                  backgroundColor: ["#2196f38c", "#f443368c"], // Add custom color background (Points and Fill)
                  borderWidth: 1, // Specify bar border width
                },
              ],
            },
            options: {
              responsive: true, // Instruct chart js to respond nicely.
              maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
            },
          });
        });
        // myChart.destroy;
      }

      function staticChat() {
        async function getData() {
          let d1 = [];
          let d2 = [];
          let d3 = [];
          let plcId = {};
          // console.log(selectPlcID);
          if (JSON.parse(sessionStorage.getItem("user")).role == "ADMIN") {
            plcId = {
              plcId: document.getElementById("dynamicOption").value,
            };
            console.log(plcId);
          } else {
            plcId = {
              plcId: JSON.parse(sessionStorage.getItem("user")).plcId,
            };
          }
          console.log(plcId);
          // if (selectPlcID == null) {
          let res = await fetch("http://localhost:3000/zoneplclivedatas", {
            method: "POST",
            body: JSON.stringify(plcId),
            headers: {
              "Content-type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              return data;
            });
          res.forEach((b) => {
            d1.push(parseFloat(b.main_meter_demand_flow));
          });
          res.forEach((b) => {
            d2.push(parseFloat(b.main_meter_flow));
          });
          res.forEach((b) => {
            d3.push(parseFloat(b.esr_presure));
          });
          // console.log(d1, d2);
          return {
            d1: d1,
            d2: d2,
            d3: d3,
          };
        }
        const arr = getData().then((value) => {
          let data1 = value.d1;
          let data2 = value.d2;
          var myChart = new Chart(ctx, {
            type: "doughnut",
            data: {
              labels: ["Volume of Water", "NRW"],
              datasets: [
                {
                  data: [data1.length, data2.length], // Specify the data values array

                  borderColor: ["#2196f38c", "#f443368c"], // Add custom color border
                  backgroundColor: ["#2196f38c", "#f443368c"], // Add custom color background (Points and Fill)
                  borderWidth: 1, // Specify bar border width
                },
              ],
            },
            options: {
              responsive: true, // Instruct chart js to respond nicely.
              maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
            },
          });
        });
      }
      staticChat();
    </script>

    <%- include("./partials/footer") %>
  </body>
</html>
